<h1><%= @user.username %></h1>
<% if @user.created_events.any? %>
		<h3>Events by this User: (<%= @user.created_events.count %>)</h3>
		<ol class="events">
			<%= render @created_events %>
		</ol>
<% end %>