@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  background-color: #E3E3E3;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  margin-bottom: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.container {
  h3 {
    text-align: center;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.header-button, .dropdown-toggle {
  font-weight: bold;
}

/* home page */

.home-image {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  background: image-url(background.jpeg) no-repeat center center;
  background-size: cover;
}

.welcome-message {
  color: white;
  text-shadow: 2px 2px 6px black;
  font-family: Helvetica;
}

.btn {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
}


/* forms */

.well {
  margin-top: 20px;
}

/* events */

.event-list-container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}

.event-heading {
  border-bottom: 1px solid #CDCDCD;
  text-align: left;
  padding-left: 0.5em;
  h4 {
    margin-bottom: 0px;
  }
}

.user {
  text-align: center;
  color: #777;
}

/* invitations */

.new_invitation {
  text-align: center;
  .btn {
    background-color: #777;
  }
}

.attend {
  width: 15%;
  min-width: 150px;
  margin: 0 auto;
}

