<li id="attendance-<%= attendance.id %>">
	<div class="event-list-container well">
		<div class="event-heading">
			<h4 class="center"><%= link_to attendance.title, attendance %></h4>
			<p class="user"> By: <%= attendance.creator.username %></span><br>
		</div>
	</div>
</li>